.ratings {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	color: #b1b1b1;
	overflow: hidden;
}

.full-stars {
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	color: #fde16d;
}

.empty-stars:before, .full-stars:before {
	content: "\2605\2605\2605\2605\2605";
}
