@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmação de empréstimo</title>
</head>
<body>
    <h3>@Model</h3>
</body>
</html>
