<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2>Book Controller</h2>
    <form action="/" method="post">
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" name="id" placeholder="Book ID">
            </div>
        </div>
        <div class="form-group row">
            <label for="author_name" class="col-sm-2 col-form-label">Author Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="author_name" name="author_name" placeholder="Authors name, comma separated">
            </div>
        </div>
        <div class="form-group row">
            <label for="isbn" class="col-sm-2 col-form-label">ISBN</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="isbn" name="author_name" placeholder="ISBN 10">
            </div>
        </div>
        <div class="form-group row">
            <label for="isbn13" class="col-sm-2 col-form-label">ISBN 13</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="isbn13" name="author_name" placeholder="ISBN 13">
            </div>
        </div>
        <div class="form-group row">
            <label for="goddreads_id" class="col-sm-2 col-form-label">Goodreads ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="goodreads_id" name="goodreads_id" placeholder="Goodreads ID">
            </div>
        </div>
        <div class="form-group row">
            <label for="image_url" class="col-sm-2 col-form-label">Image URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="image_url" name="image_url" placeholder="Image URL regular size">
            </div>
        </div>
        <div class="form-group row">
            <label for="image_url_small" class="col-sm-2 col-form-label">Small image URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="image_url_small" name="image_url_small" placeholder="Image URL small size">
            </div>
        </div>
        <div class="form-group row">
            <label for="publication_date" class="col-sm-2 col-form-label">Publication Date</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="publication_date" name="publication_date" placeholder="Publication Date">
            </div>
        </div>
        <div class="form-group row">
            <label for="publisher" class="col-sm-2 col-form-label">Publisher</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="publisher" name="publisher" placeholder="publisher">
            </div>
        </div>
        <div class="form-group row">
            <label for="language" class="col-sm-2 col-form-label">Language</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="language" name="language" placeholder="Language">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description" placeholder="description">
            </div>
        </div>
        <div class="form-group row">
            <label for="average_rating" class="col-sm-2 col-form-label">Average Rating</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="average_rating" name="average_rating" placeholder="Average Rating">
            </div>
        </div>
        <div class="form-group row">
            <label for="rating_count" class="col-sm-2 col-form-label">Rating Count</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="rating_count" name="rating_count" placeholder="Rating Count">
            </div>
        </div>
        <div class="form-group row">
            <label for="number_of_pages" class="col-sm-2 col-form-label">Number Of Pages</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="number_of_pages" name="number_of_pages" placeholder="Number Of Pages">
            </div>
        </div>
        <div class="form-group row">
            <label for="goodreads_url" class="col-sm-2 col-form-label">Goodreads Url</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="goodreads_url" name="goodreads_url" placeholder="GoodreadsUrl">
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
</div>