/* theme color */

@import "./variables";

/* icon font path, required */

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

/* General Styles */

// Responsive

.no-desktop {
  display: none;
}

@media only screen and (max-width: $--width-size-mobile) {
  .no-desktop {
    display: block;
  }

  .no-mobile {
    display: none !important;
  }
}

// Overlay

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}