/*Colors*/

$--color-black: #000 !default;
$--color-black-2: #495057 !default;
$--color-primary: #246AB6 !default;
$--color-primary-light-1: #2B76C7 !default;
$--color-primary-light-2: #3482D6 !default;
$--color-primary-light-3: #408EE4 !default;
$--color-primary-light-4: #67A6E9 !default;
$--color-primary-light-5: #8ABAF4 !default;
$--color-primary-light-6: #ACCEFB !default;
$--color-primary-light-7: #E6F0FF !default;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

/* Sizes */

$--width-container: 1300px;